$salmon: #fb5965;
$dkpink: #e21c71;
$red: #e21c20;
$redorg: #ef4100;
$orange: #f76500;
$orgylw: #f77900;
$yellow: #fcee6d;
$green: #8abe30;
$aqua: #49e7d7;
$teal: #24a69e;
$sltbl: #288ed3;
$pwdbl: #2e73ff;
$blue: #1636e1;
$purple: #953cfe;
$dkprpl: #6100d6;
$gray: #626972;
$dkgray: #29323f;
$lavender: #838ecf;
$white: #fff;
$black: #000;

#calendarWidget {
  @mixin hideOrShow($initVal, $finVal) {
    @-webkit-keyframes hideOrShow {
      0% {
        display: $initVal;
      }
      100% {
        display: $finVal;
      }
    }
    @keyframes hideOrShow {
      0% {
        display: $initVal;
      }
      100% {
        display: $finVal;
      }
    }
    & {
      animation: hideOrShow 0.1s linear 2s forwards;
    }
  }
  @mixin stagger-fadein($i, $timer, $max) {
    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    $i: 0;
    $timer: 0.2;
    @while $i < $max {
      &:nth-child(#{$i}) {
        animation: fadeIn 0.1s linear #{$timer}s forwards;
      }
      $i: $i + 1;
      $timer: $timer + 0.05;
    }
  }
  @mixin raindrop($i, $timer) {
    i: 1;
    $timer: 2;
    @keyframes rain {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @-webkit-keyframes rain {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @while $i < 5 {
      &#drop-#{$i} {
        animation: rain 0.1s linear #{$timer}s forwards;
      }
      $i: $i + 1;
      $timer: $timer + 0.05;
    }
  }
  @keyframes flipUp {
    0% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
  * {
    box-sizing: border-box;
    outline: 0;
  }
  html,
  body {
    height: 100%;
    margin: 0;
  }

  @each $name, $color in (salmon, $salmon), (dkpink, $dkpink), (red, $red),
    (redorg, $redorg), (orange, $orange), (orgylw, $orgylw), (yellow, $yellow),
    (green, $green), (aqua, $aqua), (teal, $teal), (sltbl, $sltbl),
    (pwdbl, $pwdbl), (blue, $blue), (purple, $purple), (dkprpl, $dkprpl)
  {
    .#{$name},
    .prev-.#{$name} {
      font-family: "Monserrat", sans-serif;
      // position: fixed;
      // top: 0;
      // left: 0;
      // width: 100%;
      // height: 100%;
      background: $color;
      &.#{$name} {
        background: $color;
        transition: all 0.2s ease-in-out;
      }
      #calendar {
        width: 100%;
        min-height: 18em;
        padding-bottom: 1.25em;
        height: auto;
        background: $white;
        color: $black;
        position: relative;
        margin-left: 50%;
        margin-top: 5vw;
        transform: translateX(-50%);
        -webkit-user-select: none;
        user-select: none;
        .input {
          a {
            display: block;
            top: 0;
            left: 0;
            position: absolute;
            padding: 1em 1.5em;
            width: 100%;
            background-size: 200% 100%;
            background-image: linear-gradient(
              to left,
              $color 50%,
              transparent 50%
            );
            transition: background-position 0.1s ease-in-out;
            &:hover {
              cursor: pointer;
              background-position: 100% 0;
              // color: $color;
            }
          }
        }
        .has-event {
          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            border: 0.1em solid $color;
            height: 1.4em;
            width: 1.4em;
            margin-left: -0.8em;
            margin-top: -0.8em;
          }
          &.expanded {
            color: $dkgray;
            &:hover {
              color: $dkgray !important;
            }
            &:after {
              background: $color;
              border-radius: 50%;
              z-index: -1;
            }
          }
        }
        #color-picker {
          background: $color;
          width: 0.65em;
          height: 0.65em;
          position: absolute;
          top: 1em;
          left: 1em;
          border-radius: 50%;
          z-index: 10;
          font-weight: 700;
          &:hover {
            cursor: pointer;
          }
        }
        #dates {
          padding: 1em 1.5em 0;
          // position: absolute;
          // top: 0;
          // left: 0;
          position: relative;
          width: 100%;
          #days {
            .day {
              @include stagger-fadein(1, 1, 40);
              opacity: 0;
              &:hover {
                color: $black;
                font-weight: 700;
                cursor: pointer;
              }
            }
          }
        }
        #lastMt,
        #nextMt {
          color: $gray;
          position: absolute;
          top: 2.5em;
          font-weight: 700;
          font-size: 1.5em;
          z-index: 3;
          &:hover {
            cursor: pointer;
          }
        }
        #lastMt {
          left: 3.25em;
        }
        #nextMt {
          right: 3.25em;
        }
        #months-cont {
          width: 50%;
          overflow: hidden;
          height: 3.5em;
          left: 50%;
          margin-left: -25%;
          position: relative;
          #months {
            height: 100%;
            white-space: nowrap;
            padding-top: 2em;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            .month {
              width: 100%;
              font-size: 1em;
              font-weight: 700;
              text-transform: uppercase;
              color: $blue;
              display: inline-block;
              text-align: center;
              &:first-child {
                transition: all 0.5s ease-in-out;
              }
            }
          }
        }
        #days,
        #daysotweek {
          .day {
            width: calc(100% / 7);
            text-align: center;
            float: left;
            padding: 1em;
            font-size: 1em;
            position: relative;
            transition: all 0.1s ease-in;
          }
        }
        #daysotweek {
          font-weight: 700;
          margin-top: 0.75em;
        }
      }
      #info #actual-date {
        text-align: center;
        float: left;
        padding: 0.5em 0;
        font-size: 0.8em;
        background: $color;
        color: $dkgray;
        height: 1.5em;
        width: 1.5em;
        line-height: 0.5em;
        text-align: center;
        border-radius: 50%;
        position: absolute;
      }
    }
    #colors {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 1.5em;
      #close {
        color: $gray;
        position: absolute;
        top: 0.5em;
        right: 1em;
        &:hover {
          cursor: pointer;
        }
      }
      &.show .color {
        border-radius: 50%;
        position: relative;
        float: left;
        opacity: 0;
        width: 14%;
        padding-bottom: 14%;
        margin: 3%;
        &##{$name} {
          @include stagger-fadein(10, 0, 20);
          background: $color;
          transform-origin: center;
        }
        &.active {
          box-shadow: 0 0 0 3px #fff inset;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    #info {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      &.show {
        #card .content {
          animation: flipUp 0.2s linear 0.9s forwards;
        }
        #bg-card .content {
          animation: flipUp 0.2s linear 0.6s forwards;
        }
        #rain .raindrop {
          @include raindrop(1, 1);
        }
      }
      #back {
        color: $gray;
        position: absolute;
        top: 1em;
        left: 1em;
      }
      #weather {
        width: 88%;
        left: 50%;
        margin-left: -44%;
        position: relative;
        top: 2em;
        #sun {
          width: 0.75em;
          height: 0.75em;
          background: $yellow;
          transform: rotate(45deg);
          position: absolute;
          left: 5.8em;
          top: 1.8em;
          &:after {
            content: "";
            display: block;
            width: 0.75em;
            height: 0.75em;
            background: gold;
            position: absolute;
            left: 0;
            transform: rotate(-45deg);
          }
        }
        #rain {
          position: absolute;
          top: 3.8em;
          width: 11%;
          left: 50%;
          margin-left: -18.1%;
          text-align: center;
          .raindrop {
            opacity: 0;
            width: 0.35em;
            height: 0.35em;
            background: lighten($pwdbl, 15%);
            border-radius: 50%;
            position: relative;
            &:before {
              content: "";
              display: block;
              position: absolute;
              top: -0.22em;
              left: 0;
              border-left: 0.2em solid transparent;
              border-right: 0.2em solid transparent;
              border-bottom: 0.35em solid lighten($pwdbl, 15%);
            }
            &.center {
              top: 0.1em;
            }
            &#drop-1,
            &#drop-4 {
              clear: both;
              margin-left: 50%;
              transform: translateX(-50%);
            }
            &#drop-2 {
              float: left;
              clear: left;
            }
            &#drop-3 {
              float: right;
              clear: right;
            }
            &#drop-4 {
              top: 0.17em;
            }
          }
        }
        #mountains {
          width: 0;
          height: 0;
          border-left: 1.25em solid transparent;
          border-right: 1.25em solid transparent;
          border-bottom: 1.75em solid lighten($gray, 30%);
          top: 1.5em;
          left: 4em;
          position: relative;
          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0em;
            width: 0;
            height: 0;
            bottom: -1.75em;
            border-left: 0.75em solid transparent;
            border-right: 0.75em solid transparent;
            border-bottom: 1.15em solid lighten($gray, 45%);
          }
        }
        #temp {
          font-size: 1.5em;
          display: inline-block;
          vertical-align: top;
          font-family: Verdana, Geneva, sans-serif;
          margin-top: 0em;
          margin-left: 4.75em;
          span {
            font-size: 0.65em;
            display: inline-block;
            padding-top: 0.25em;
            vertical-align: top;
          }
        }
      }
      #month-name {
        text-transform: uppercase;
        font-size: 0.7em;
        position: absolute;
        top: 1em;
        right: 3em;
      }
      #card {
        width: 88%;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -44%;
        perspective: 600px;
        overflow: hidden;
        height: 10em;
        background: transparent;
        .content {
          background: #fff;
          padding: 0.5em;
          display: inline-block;
          transform: rotateX(-90deg);
          transform-origin: bottom;
          position: absolute;
          bottom: 0;
          height: 100%;
        }
        #event-name {
          color: $dkgray;
          text-align: center;
          margin-top: 0.5em;
          padding-bottom: 0.75em;
        }
        #event-details {
          position: relative;
          width: 100%;
          white-space: nowrap;
          text-align: center;
          .col-3 {
            width: 33%;
            display: inline-block;
            color: $dkgray;
            vertical-align: top;
            float: left;
            h3 {
              font-size: 0.6em;
              text-transform: uppercase;
              font-family: Verdana, Geneva, sans-serif;
            }
            i {
              color: $lavender;
              &.fa-user {
                background: $lavender;
                color: #fff;
                border-radius: 50%;
                font-size: 0.6em;
                width: 1.5em;
                height: 1.5em;
                line-height: 1.5em;
              }
            }
            p {
              font-size: 0.6em;
              white-space: normal;
              color: $gray;
            }
          }
        }
      }
      #bg-card {
        width: 82%;
        height: 10.5em;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -41%;
        perspective: 600px;
        overflow: hidden;
        .content {
          background: $gray;
          padding: 0.5em;
          display: inline-block;
          transform: rotateX(-90deg);
          transform-origin: bottom;
          position: absolute;
          bottom: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .hide,
  .show {
    transition: all 0.1s ease-in-out;
  }
  .show {
    @include hideOrShow(none, block);
    opacity: 1;
    z-index: 4;
  }
  .hide {
    @include hideOrShow(block, none);
    opacity: 0;
    z-index: 1;
  }
  .day-details {
    clear: both;
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
    margin: 0 1em 0 -1.5em;
    transform-origin: top center;
    input,
    .input {
      transform: scaleY(0);
      border: 0;
      box-shadow: none;
      padding: 0;
      transition: height 0.3s ease-in-out;
      width: 100%;
      display: block;
      height: 0;
      background: #fff;
      color: $dkgray;
      font-size: 0.85em;
      font-family: Verdana, Geneva, sans-serif;
    }
    .expanded ~ &.expanded {
      transform: scaleY(1);
      transition: all 0.3s ease-in-out;
      input,
      .input {
        border: 0;
        box-shadow: none;
        padding: 1em 1.5em;
        line-height: 13px;
        transform: scaleY(1);
        box-sizing: content-box;
        margin: 0 0 0.5em;
        height: 13px;
        background: #fff;
        transition: height 0.3s ease-in-out;
      }
      #input-arrow {
        width: 0;
        height: 0;
        position: relative;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #fff;
        transition: margin-left 0.25s ease-in-out;
      }
    }
  }
}
