/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
// colors
$primary-color: #448aff;
$white: #fff;

// fonts
$verdana: Verdana, Geneva, sans-serif;
$bold: 700;
$medium: 500;

$small: 1.3rem;
$regular: 1.5rem;
$large: 2.4rem;
$exta-large: 6rem;

.primary-color {
  background: $primary-color;
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.text-negative {
  color: white;
}

.sidenav-trigger {
  color: white;
}

.event-lead {
  text-align: center;
  color: $white;
}

.parallax-container {
  min-height: 580px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.primary-color {
  background: #3281a8;
}

/*# sourceMappingURL=style.css.map */

nav .sidenav-trigger {
  float: right;
}

.logo {
  height: 46px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.results {
  font-size: 4pt;
}

.team-container {
  width: calc((100% - 40px) / 2);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  background-position: center;
}

td,
th {
  font-size: $small;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  .team-container {
    width: calc((100% - 40px) / 2);
    height: 200px;
  }

  td,
  th {
    padding: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .team-container {
    width: 100%;
  }
  td,
  th {
    padding: 5px;
  }
}

h1 {
  font-size: $large;
  text-transform: uppercase;
  font-weight: $bold;
  font-family: $verdana;
  margin-top: 10%;
}

h2 {
  font-size: $regular;
  text-transform: uppercase;
  font-weight: $bold;
  font-family: $verdana;
  color: white;
  position: absolute;
  bottom: 0;
  background-color: orange;
  padding: 10px 5px 10px 5px;
}

p {
  font-family: $verdana;
  font-size: $small;
  color: black;
}

.table-title {
  color: white;
  text-transform: uppercase;
}

.btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  background-color: orange;
  font-weight: bold;
}

.news {
  padding: 3% 20% 3% 3%;
}

.upcoming {
  padding: 3%;
  text-align: center;
}

.event-lead {
  font-size: $medium;
  font-weight: $bold;
}

.event-date {
  font-size: $exta-large;
  font-weight: $bold;
}

tr {
  line-height: 1rem;
}

table.striped > tbody > tr:nth-child(even) {
  background-color: rgba(68, 138, 255, 0.2);
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: white;
}

.sponsoren {
  width: 100%;
}

.footer-copyright {
  height: 56px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
